* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', Arial, sans-serif;
}

body {
  background: #fff;
  color: #000;
  max-width: 430px;
  margin: auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 1rem;
}

.logo {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.8rem;
}

.menu-toggle {
  margin-right: 8px;
  background: none;
  border: none;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
}

/* Ventana de menú centrada */
.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 380px;
  background: #000;
  color: white;
  display: none;
  flex-direction: column;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4);
  z-index: 1001;
  text-align: center;
}

/* Fondo oscuro detrás del menú */
.menu::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.menu li {
  list-style: none;
  padding: 1rem 0;
  border-bottom: 1px solid #E34713;
  font-size: 1.2rem;
  font-family: 'Raleway';
  font-weight: 500;
}

.close-menu {
  background: none;
  border: none;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
}

/* Sección mapa */
.map-section {
  background: #f3f3f3;
  padding: 1rem;
}

.map-toggle {
  background: none;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: flex-start;
  gap: 8px;
}

.ubicacion-icon {
  font-size: 28px;
  color: #E34713;
}

.ubicacion-texto {
  font-family: Raleway;
  font-size: 1.1rem;
  color: #000;
}

.arrow {
  margin-left: auto;
  font-size: 28px;
  color: #E34713;
}

.map-content {
  display: none;
  margin-top: 1rem;
}

.placeholder {
  background: #d9d9d9;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.map-img {
  height: 200px;
}

.plant-img {
  height: 250px;
  margin: 1.5rem auto;
}

.memory-img {
  height: 180px;
  margin-bottom: 1rem;
}

.content {
  padding: 1.5rem;
}

.content h2 {
  font-family: Raleway;
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 550;
}

.highlight {
  font-family: Raleway;
  color: #E34713;
  font-size: 2.5rem;
  font-weight: 800;
}

.content p {
  color: #333;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.memories {
  background: #f3f3f3;
  padding: 1.5rem;
}

.memories h3 {
  margin-bottom: 1rem;
}

.memory-card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  color: #222;
}

.author {
  display: block;
  color: #E34713;
  margin-top: 0.5rem;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
  color: #555;
}